*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display:flex;
    justify-content: space-between;
    margin-top: 5vh; 
}
.bag i{
    font-size: 4vh;
}
.log{
    display: flex;
    justify-content: space-between;
}
.log a{
    color: black;
    font-size: 15px;
}
.left{
    width: 50%;
    border: 1px solid rgb(167, 167, 167);
}
.right{
    width: 50%;
    border: 1px solid rgb(167, 167, 167);
}
.email{
    padding-left: 4vw;
    border-radius: 5px;
}
.country{
    border: 2px solid black;
    width: 42vw;
    height: 7vh;
    border-radius: 5px;
}
.select{
    width: 42vw;
}
.ship button{
    width: 42vw;
    border-radius: 5px;
    height: 7vh;
    margin-top: 2vh;
}
.ship{
    margin-top: 3vh;
}
.paynow button{
    width: 42vw;
    height: 7vh;
    background: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}
.paynow{
    padding-left: 8vh;
    margin-top: 4vh;
}
.add{
    width: 6vw;
    height: 12vh;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    margin-top: 5vh;
    margin-left: vw;
}
.add img{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
}